.info {
    transition: box-shadow 0.5s ease-in-out, filter 5s linear;
  }
  
  .info:hover {
    box-shadow: 0 0 10px 2px rgba(77, 77, 255, 0.6), 0 0 13px 3px rgba(255, 77, 255, 0.5),
      0 0 15px 1px rgba(153, 51, 255, 0.5); /* Light and smooth shadow on hover */
    filter: hue-rotate(360deg); /* Rotate colors smoothly */
  }
  
  @keyframes shadowRotate {
    0% {
      box-shadow: 0 0 15px 5px rgba(77, 77, 255, 0.6), 15px 0 20px rgba(255, 77, 255, 0.6),
        0 15px 20px rgba(153, 51, 255, 0.6), -15px 0 20px rgba(255, 77, 255, 0.6);
    }
    25% {
      box-shadow: 0 0 15px 5px rgba(255, 77, 255, 0.6), 15px 0 20px rgba(153, 51, 255, 0.6),
        0 15px 20px rgba(77, 77, 255, 0.6), -15px 0 20px rgba(255, 77, 255, 0.6);
    }
    50% {
      box-shadow: 0 0 15px 5px rgba(153, 51, 255, 0.6), 15px 0 20px rgba(255, 77, 255, 0.6),
        0 15px 20px rgba(255, 77, 255, 0.6), -15px 0 20px rgba(77, 77, 255, 0.6);
    }
    75% {
      box-shadow: 0 0 15px 5px rgba(255, 77, 255, 0.6), 15px 0 20px rgba(77, 77, 255, 0.6),
        0 15px 20px rgba(153, 51, 255, 0.6), -15px 0 20px rgba(255, 77, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(77, 77, 255, 0.6), 15px 0 20px rgba(255, 77, 255, 0.6),
        0 15px 20px rgba(153, 51, 255, 0.6), -15px 0 20px rgba(255, 77, 255, 0.6);
    }
  }


.ans {
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.4s ease-in-out; 
}

.ans-open {
  max-height: 500px; /* Large value to accommodate text */
  opacity: 1;
}

.ques:hover {
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease-in-out;
}

  